<!DOCTYPE html>
<html>

<form action="/square/result">
  <label for="number_id">Enter a number</label>
  <div><input id="number_id" name="number" placeholder ="What number do you want to square"></div>
  <button>Calculate square</button>
</form>

</html>
