<!DOCTYPE html>
<html>

<form action="/square_root/result">
  <label for="number_id">Enter a number</label>
  <input id="number_id" name="number" placeholder ="What number do you want to square root">
  <div><button>Calculate square root</button></div>
</form>

</html>
